body {
  font-family: "Montserrat", sans-serif;
}

main {
  min-height: calc(100vh - 232px);
}

.titulo {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .titulo {
    margin-top: 30px;
  }
}
.titulo div:nth-child(1) {
  font-size: 40px;
  font-weight: 500;
  color: #939393;
}
@media (max-width: 767px) {
  .titulo div:nth-child(1) {
    font-size: 25px;
  }
}
.titulo div:nth-child(2) {
  font-size: 50px;
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 767px) {
  .titulo div:nth-child(2) {
    font-size: 35px;
  }
}

@media (max-width: 767px) {
  header {
    position: absolute;
    right: 0;
    top: 20px;
    margin-top: -20px;
  }
}
header.active {
  background-color: white;
  position: fixed;
  width: 90%;
  z-index: 10;
  height: 100%;
}
header.active .enlaces {
  right: 0;
  align-items: end;
  padding: 42px 34px;
  gap: 34px;
}
header .menu-hamburguesa {
  display: none;
}
@media (max-width: 767px) {
  header .menu-hamburguesa {
    display: flex;
    align-items: center;
    justify-content: end;
  }
}
header #nav-icon1 {
  width: 35px;
  height: 30px;
  position: relative;
  margin: 55px 0 0;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
header #nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 9px;
  opacity: 1;
  left: 0;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}
header #nav-icon1 span:nth-child(1) {
  top: 0px;
}
header #nav-icon1 span:nth-child(2) {
  top: 9px;
}
header #nav-icon1 span:nth-child(3) {
  top: 18px;
}
header #nav-icon1.open span:nth-child(1) {
  top: 9px;
  transform: rotate(135deg);
}
header #nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
header #nav-icon1.open span:nth-child(3) {
  top: 9px;
  transform: rotate(-135deg);
}
header .enlaces {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 81px;
  padding: 30px 0;
  transition: all 0.2s;
}
@media (max-width: 767px) {
  header .enlaces {
    position: fixed;
    right: -5000px;
    background-color: white;
    z-index: 10;
    flex-direction: column;
    width: 50%;
  }
}
header .enlaces.active {
  right: 0;
}
header .enlaces a {
  color: black;
  font-weight: 500;
  text-decoration: none;
  font-size: 20px;
}

footer {
  background-color: #F6F6F6;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media (max-width: 767px) {
  footer {
    position: initial;
    margin-top: 25px;
  }
}
footer .footer-area {
  display: flex;
  color: #A9A9A9;
  justify-content: space-between;
  height: 56px;
  align-items: center;
}
@media (max-width: 767px) {
  footer .footer-area {
    flex-direction: column-reverse;
    padding: 15px;
    height: inherit;
  }
}
footer .footer-area .text {
  font-weight: 500;
  margin-bottom: 12px;
}
@media (max-width: 767px) {
  footer .footer-area .text {
    font-size: 11px;
  }
}
footer .footer-area .redes .icono {
  color: #A9A9A9;
}

.proyectos-list {
  margin-top: 71px;
}
@media (max-width: 1200px) {
  .proyectos-list {
    margin-top: 20px;
  }
}
.proyectos-list a {
  text-decoration: none;
}
.proyectos-list .item {
  border-radius: 40px;
  position: relative;
  aspect-ratio: 1/0.8;
  overflow: hidden;
  display: flex;
  align-items: end;
  padding: 29px 37px;
  margin: 2%;
  transition: all 0.3s;
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
}
@media (max-width: 1200px) {
  .proyectos-list .item {
    margin-top: 50px;
  }
}
.proyectos-list .item:hover .imagen {
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  top: 29px;
  height: 55%;
}
.proyectos-list .item:hover .title-area {
  color: black;
}
.proyectos-list .item:hover .title-area .subtitle {
  color: #737373;
}
.proyectos-list .item .imagen {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  overflow: hidden;
  z-index: -1;
  transition: all 0.5s;
}
.proyectos-list .item .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.proyectos-list .item .title-area {
  color: white;
}
.proyectos-list .item .title-area .title {
  font-size: 30px;
  font-weight: 600;
  text-decoration: none;
  line-height: 1;
}
@media (max-width: 370px) {
  .proyectos-list .item .title-area .title {
    font-size: 22px;
  }
}
.proyectos-list .item .title-area .subtitle {
  font-size: 18px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
@media (max-width: 370px) {
  .proyectos-list .item .title-area .subtitle {
    font-size: 16px;
  }
}

.contacto-section {
  margin-top: 67px;
}
.contacto-section .imagen {
  height: 100%;
  border-radius: 40px;
  overflow: hidden;
}
.contacto-section .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.contacto-section .form {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 30px;
  border-radius: 40px;
}
@media (max-width: 576px) {
  .contacto-section .form {
    padding: 20px;
    margin-bottom: 50px;
  }
}
.contacto-section .form .form-control {
  border: none;
  border-radius: 10px;
  margin-bottom: 16px;
}
.contacto-section .form .form-control input {
  border: none;
  width: 100%;
  height: 38px;
}
.contacto-section .form .form-control input:focus {
  outline: none;
}
.contacto-section .form .form-control textarea {
  width: 100%;
  border: none;
  height: 191px;
}
.contacto-section .form .form-control textarea:focus {
  outline: none;
}
.contacto-section .form button {
  background-color: black;
  color: white;
  width: 224px;
  height: 50px;
  border-radius: 40px;
}

.sobre-mi-section {
  max-width: 1034px;
  margin: 0 auto;
}
.sobre-mi-section .container .info-header {
  margin-top: 51px;
}
.sobre-mi-section .container .info-header .imagen {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 40px;
  overflow: hidden;
  max-width: 450px;
  margin: 0 auto;
}
@media (max-width: 992px) {
  .sobre-mi-section .container .info-header .imagen {
    height: 100%;
  }
}
.sobre-mi-section .container .info-header .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.sobre-mi-section .container .info-header .text-about-me {
  margin-left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0 25px;
}
.sobre-mi-section .container .info-header .text-about-me .name {
  font-size: 50px;
  font-weight: 600;
}
@media (max-width: 767px) {
  .sobre-mi-section .container .info-header .text-about-me .name {
    font-size: 30px;
  }
}
.sobre-mi-section .container .info-header .text-about-me .title {
  font-size: 16px;
  font-weight: 600;
  color: #8F8F8F;
}
@media (max-width: 767px) {
  .sobre-mi-section .container .info-header .text-about-me .title {
    font-size: 14px;
  }
}
.sobre-mi-section .container .info-header .text-about-me .subtitle {
  font-size: 16px;
}
@media (max-width: 767px) {
  .sobre-mi-section .container .info-header .text-about-me .subtitle {
    font-size: 14px;
  }
}
.sobre-mi-section .container .info-header .text-about-me .subtitle span {
  font-weight: 600;
}
.sobre-mi-section .container .info-header .text-about-me .cv-button {
  margin-left: -80px;
  margin-top: 15px;
}
@media (max-width: 576px) {
  .sobre-mi-section .container .info-header .text-about-me .cv-button {
    margin-left: 0;
  }
}
.sobre-mi-section .container .info-header .text-about-me .cv-button a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  background-color: black;
  height: 57px;
  width: 213px;
  border: 3px solid #fff;
}
@media (max-width: 576px) {
  .sobre-mi-section .container .info-header .text-about-me .cv-button a {
    margin: 0 auto;
  }
}
.sobre-mi-section .container .info-header .text-about-me .cv-button a .icono {
  color: white;
  margin-right: 10px;
}
.sobre-mi-section .container .contenido-sobre-mi {
  margin-bottom: 40px;
}
.sobre-mi-section .container .contenido-sobre-mi .item {
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  padding: 36px;
  border-radius: 40px;
  margin-top: 29px;
}
.sobre-mi-section .container .contenido-sobre-mi .item.time {
  text-align: center;
}
.sobre-mi-section .container .contenido-sobre-mi .item.time .title {
  margin: 10px 0 5px;
  font-weight: 500;
  color: #949494;
}
.sobre-mi-section .container .contenido-sobre-mi .item.time .time {
  font-weight: 500;
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals {
  height: 90%;
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals .title {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals ul li {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 500;
  color: #9E9E9E;
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals .tecnologias {
  display: flex;
  justify-content: space-between;
  max-width: 733px;
  margin: 20px auto 0;
  flex-wrap: wrap;
  gap: 20px;
}
@media (max-width: 500px) {
  .sobre-mi-section .container .contenido-sobre-mi .item.goals .tecnologias {
    justify-content: center;
  }
}
.sobre-mi-section .container .contenido-sobre-mi .item.goals .tecnologias .icono {
  font-size: 45px;
}

.button-back {
  margin-top: 45px;
}
@media (max-width: 767px) {
  .button-back {
    display: flex;
    justify-content: center;
  }
}
.button-back a {
  display: flex;
  background-color: black;
  width: 235px;
  height: 48px;
  border-radius: 400px;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 10px;
  font-size: 20px;
}

.proyecto-area {
  margin-top: 54px;
  padding-bottom: 100px;
}
.proyecto-area .imagen {
  border-radius: 40px;
  overflow: hidden;
}
@media (max-width: 567px) {
  .proyecto-area .imagen {
    border-radius: 20px;
  }
}
.proyecto-area .imagen img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.proyecto-area .proyecto-header {
  text-align: center;
}
.proyecto-area .proyecto-header .logo {
  margin-bottom: 20px;
  max-width: 300px;
  margin: 0 auto 20px;
}
.proyecto-area .proyecto-header .logo img {
  width: 100%;
}
.proyecto-area .proyecto-header .title {
  margin-bottom: 20px;
}
.proyecto-area .proyecto-header .features {
  display: flex;
  justify-content: center;
  gap: 23px;
  flex-wrap: wrap;
}
.proyecto-area .proyecto-header .features .item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #35B9E8;
  color: white;
  width: 182px;
  height: 42px;
  border-radius: 50px;
  gap: 10px;
}
@media (max-width: 567px) {
  .proyecto-area .proyecto-header .features .item {
    width: 100%;
    border-radius: 20px;
  }
}
.proyecto-area .proyecto-header .features .item img {
  border-radius: 0;
}
.proyecto-area .desarrollo-proyecto .title-one {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  margin-top: 50px;
}
@media (max-width: 767px) {
  .proyecto-area .desarrollo-proyecto .title-one {
    font-size: 25px;
  }
}
.proyecto-area .desarrollo-proyecto .enlace-ecommerce {
  text-align: center;
}
.proyecto-area .desarrollo-proyecto .enlace-ecommerce a {
  color: #999999;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .proyecto-area .desarrollo-proyecto .enlace-ecommerce a {
    font-size: 18px;
  }
}
.proyecto-area .desarrollo-proyecto .simple-text-one {
  font-size: 18px;
  color: #898989;
  letter-spacing: 0.5px;
}
.proyecto-area .desarrollo-proyecto .block-text .item-block {
  border: 1px solid #D9D9D9;
  height: 100%;
  padding: 30px;
  background-color: #F7F7F7;
  border-radius: 40px;
  margin-top: 0;
}
.proyecto-area .desarrollo-proyecto .block-text .item-block .title {
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.proyecto-area .desarrollo-proyecto .block-text .item-block .text {
  margin-top: 10px;
  font-size: 15px;
  color: #898989;
}
.proyecto-area .desarrollo-proyecto .simple-text-two {
  text-align: center;
}
.proyecto-area .desarrollo-proyecto .simple-text-two .simple-text-title {
  font-size: 35px;
  font-weight: 600;
}
.proyecto-area .desarrollo-proyecto .simple-text-two .simple-text {
  margin-top: 15px;
  color: #898989;
}
